set_io ant_p     B16
set_io ant_n     C16
set_io ref_12mhz J3

set_io rxd       B10

set_io test1     M1
set_io test2     M2

set_io leds[0]   B5
set_io leds[1]   B4
set_io leds[2]   A2
set_io leds[3]   A1
set_io leds[4]   C5
set_io leds[5]   C4
set_io leds[6]   B3
set_io leds[7]   C3

set_io b[0]      N16
set_io b[1]      M16
set_io b[2]      L16
set_io b[3]      M15
